<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613668475923-03upiub6v2446dvlpro42b1m15r5uiai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613668475923-03upiub6v2446dvlpro42b1m15r5uiai</string>
	<key>API_KEY</key>
	<string>AIzaSyAD1HhaVZ0qdVyhxNNLK3B3v_1HXSSHcmo</string>
	<key>GCM_SENDER_ID</key>
	<string>613668475923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kundaniosdev.LoginPage</string>
	<key>PROJECT_ID</key>
	<string>speedtalk-654cc</string>
	<key>STORAGE_BUCKET</key>
	<string>speedtalk-654cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613668475923:ios:c9d5e36ee18ab1ed151be6</string>
</dict>
</plist>